* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

main {
  padding-top: 32px;
}

.pagination {
  display: flex;
  list-style: none;
}

.pagination li {
  padding: 2px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: aqua;
}

.imgcontainer {
  background-color: #ebebeb;
  border-radius: 5px;
  overflow: hidden;
}

figure {
  display: flex;
  flex-direction: column;
}

figcaption {
margin-bottom: 0;
color: #333;
padding: 8px 0;
}

.imgcontainer img {
  border-radius: 0;
  width: 350px;
  height: 233px;
  opacity: 1;
}

.imgcontainer:hover {
  scale: 1.02;
  z-index: 99;
  cursor: pointer;
}

#singleImg {
  width: 700px;
  margin: 0 auto;
}

#headline {
  text-decoration: none;
}

#back {
  display: flex;
  justify-content: end;
}

#singleFigure {
  align-items: center;
}

#singleImage {
  width: 700px;
}


#singleCaption {
  font-size: 24px;
}